<div class="chat">
  <div class="main_header">
    <div class="currentroom_name">
      <%=@room.name%>
    </div>
    <div class="exit_chatroom">
      <%= link_to "チャットを終了する", room_path(@room), method: :delete %>
    </div>
  </div>
  <div class="main_body">
    <%= render partial: "message", collection: @messages %>
  </div>
  <%= form_with model: [@room, @message], class: "chat_bar", local: true do |f| %>
    <div class="form_wrapper">
      <div class="form">
        <%= f.text_field :content, placeholder: "type a message" %>
        <label class="form-image">
          <span class="image-file">画像</span>
          <%= f.file_field :image, class: "hidden" %>
        </label>
      </div>
      <div class="form_btn">
        <%= f.submit "送信" %>
      </div>
    </div>
  <% end %>

</div>